---
import { getCollection } from "astro:content";
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
import '../../assets/fontawesome/css/all.min.css'

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <section class="container max-w-[1200px] pb-20">
    <div class="mx-auto max-w-3xl mt-14">
      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
        {entry.data.category}
      </span>
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {entry.data.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-zinc-400">
          {entry.data.author}
        </span>
        <span class="text-zinc-400">•</span>
        <time
          class="text-zinc-400"
          datetime={entry.data.publishDate.toISOString()}>
          {entry.data.publishDate.toDateString()}
        </time>
        <span class="text-zinc-400 hidden md:block">•</span>
        <div class="w-full md:w-auto flex flex-wrap gap-3">
          {
            entry.data.tags.map((tag) => (
              <span class="text-sm text-zinc-500">#{tag}</span>
            ))
          }
        </div>
      </div>
    </div>

    <div class="mx-auto text-lg mt-6 max-w-3xl text-zinc-600 dark:text-zinc-300 leading-9 font-light" id="blog">
      <Content />
    </div>
    <div class="text-center mt-8">
      <a
      href="/blog"
      rel="noreferrer"
      class={buttonVariants({ variant: 'outlineintro' })}
      > <i
      class="fa-solid fa-book mr-4 text-sm group-hover:animate-ping text-black dark:text-white"
    ></i> Back to blog
    </a>
    </div>
    </section>
</BaseLayout>
