---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import { Image } from 'astro:assets'
import logo from '../assets/prism-logo.svg'

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<BaseLayout title="Blog">
  <section class="gap-6pb-40 md:py-100 container grid items-center">
    <div class="pt-20">
      <div class="flex flex-col items-center gap-2 text-center">
        <h1
          class="animate-fade text-4xl font-medium animate-delay-200 md:text-6xl"
        >
        <Image
                src={logo}
                alt="PRI5M Logo"
                id="site-logo"
                class="float-left mr-5 mt-[3px] max-w-[75px]"
              /> <span class="fade">Prism</span> Blog
        </h1>
      </div>
    </div>
  </section>
  <section class="container max-w-[1200px] pb-20">
    <main class="mt-16">
      <ul class="grid gap-16 max-w-5xl mx-auto">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <li class="animate-fade-up duration-500">
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={blogPostEntry.data.image.src}
                    alt={blogPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-xl object-cover object-center bg-white"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-zinc-400">
                        {blogPostEntry.data.author}
                      </span>
                      <span class="text-zinc-400">• </span>
                      <time
                        class="text-zinc-400"
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </section>
</BaseLayout>
