---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import whitney from '../assets/whitney.webp'
import goldleaf from '../assets/goldleaf.webp'
import nook from '../assets/nook.webp'
import misty from '../assets/misty.webp'
import aroma from '../assets/aroma.webp'
---

<BaseLayout
  title="PRI5M Showcase"
  description="Modern development for forward thinking individuals"
>
  <section class="gap-6pb-40 md:py-100 container grid items-center">
    <div class="pt-20">
      <div class="flex flex-col items-center gap-2 text-center">
        <h1
          class="animate-fade text-4xl font-extrabold animate-delay-200 md:text-6xl"
        >
           Project Showcase
        </h1>
        <p
          class="text-md mb-10 mt-5 max-w-[700px] animate-fade text-center text-muted-foreground animate-delay-300 md:text-lg"
        >
          Whether you're starting fresh, or levelling-up an existing product,
          PRI5M brings a depth of experience in brand development, software
          engineering and marketing.
        </p>
      </div>
    </div>
  </section>
  <section class="container max-w-[1200px] pb-20">
    <div class="mt-10 grid grid-cols-2 gap-10">
      <div
        class="col-span-2 flex flex-col items-center overflow-hidden rounded-xl pr-2 lg:flex-row-reverse lg:justify-end grad animate-fade animate-delay-100 whitney transition duration-200 hover:scale-[1.01]"
        data-astro-cid-3zd5jhbd=""
      >
        <div
          class="mx-auto flex flex-col items-center lg:items-start"
          data-astro-cid-3zd5jhbd=""
        >
          <h2
            class="mt-10 text-3xl font-extrabold text-white lg:mt-0 animate-fade animate-delay-200 animate-duration-[500ms]"
            data-astro-cid-3zd5jhbd=""
          >
            Whitney Holbourn Art
          </h2>
          <p
            class="mt-2 max-w-[300px] px-4 text-center text-xl text-zinc-500 lg:px-0 lg:text-left animate-fade animate-delay-300 animate-duration-[500ms]"
            data-astro-cid-3zd5jhbd=""
          >
            We created an illustrious digital portfolio for a Denver based mural artist &amp; apparel designer. 
          </p>
          <a
            href="/showcase/whitney/"
            class="mt-6 rounded border px-3 py-2 text-base text-white hover:bg-gray-700/25 animate-fade animate-delay-500 animate-duration-[500ms]"
          >
            View case study
          </a>
        </div>

        <Image src={whitney} alt="Whitney Holbourn" class="w-full max-w-2xl pt-6 animate-fade-up animate-delay-300 animate-duration-[800ms]" />

      </div>
      <div
        class="col-span-2 flex flex-col items-center overflow-hidden rounded-xl lg:col-span-1 bg-neutral-950 grad animate-fade animate-delay-100 goldleaf transition duration-200 hover:scale-[1.01]"
        data-astro-cid-nfvjidkh=""
      >
        <h2
          class="mt-10 mx-auto text-3xl font-extrabold text-white animate-fade animate-delay-200 animate-duration-[500ms]"
          data-astro-cid-nfvjidkh=""
        >
          Gold Leaf Cannabis
        </h2>
        <p
          class="mt-2 max-w-md px-4 text-center text-xl text-zinc-500 animate-fade animate-delay-300 animate-duration-[500ms]"
          data-astro-cid-nfvjidkh=""
        >
          We revamped a static website into a dynamic, eccommerce platform for a national cannabis brand.
        </p>
        <a
          href="/showcase/goldleaf/"
          class="mt-6 rounded border px-3 py-2 text-base text-white hover:bg-gray-700/25 animate-fade animate-delay-400 animate-duration-[500ms]"
        >
          View case study
        </a>
        <div class="mt-auto" data-astro-cid-nfvjidkh="">
          <Image src={goldleaf} alt="Gold Leaf" class="w-full max-w-2xl pt-6 animate-fade-up animate-delay-300 animate-duration-[800ms]" />
        </div>
      </div>
      <div
        class="track-gradient bg-dark col-span-2 flex flex-col items-center overflow-hidden rounded-xl lg:col-span-1 bg-neutral-950 grad animate-fade animate-delay-100 nook transition duration-200 hover:scale-[1.01]"
        data-astro-cid-54lkgkkn=""
      >
        <h2
          class="mt-10 text-3xl font-extrabold text-white"
          data-astro-cid-54lkgkkn=""
        >
          Nook Nguyen
        </h2>
        <p
          class="mt-2 max-w-md px-4 text-center text-xl text-zinc-500"
          data-astro-cid-54lkgkkn=""
        >
          We built a fun and informative site for a Tampa Bay based rapper.
        </p>
        <a
          href="/showcase/nook/"
          class="mt-6 rounded border px-3 py-2 text-base text-white hover:bg-gray-700/25"
        >
          View case study
        </a>
        <Image src={nook} alt="Nook Nguyen" class="max-w-[500px] align-bottom pt-6 animate-fade-up animate-delay-300 animate-duration-[800ms] rounded-t-xl" />
      </div> 
      <div
        class="track-gradient bg-dark col-span-2 flex flex-col items-center overflow-hidden rounded-xl lg:col-span-1 bg-neutral-950 grad animate-fade animate-delay-100 misty transition duration-200 hover:scale-[1.01]"
        data-astro-cid-54lkgkkn=""
      >
        <h2
          class="mt-10 text-3xl font-extrabold text-white"
          data-astro-cid-54lkgkkn=""
        >
          Misty Robotics
        </h2>
        <p
          class="mt-2 max-w-md px-4 text-center text-xl text-zinc-500"
          data-astro-cid-54lkgkkn=""
        >
          A redesigned homepage + custom Shopify integration brought new life to a Boulder based robotics company. 
        </p>
        <a
          href="/showcase/misty/"
          class="mt-6 rounded border px-3 py-2 text-base text-white hover:bg-gray-700/25"
        >
          View case study
        </a>
        <Image src={misty} alt="Misty Robotics" class="align-bottom w-full max-w-2xl pt-6 mb-[-40px] animate-fade-up animate-delay-300 animate-duration-[800ms]" />
      </div> 
      <div
        class="col-span-2 flex flex-col items-center overflow-hidden rounded-xl lg:col-span-1 bg-neutral-950 grad animate-fade animate-delay-100 aroma transition duration-200 hover:scale-[1.01]"
        data-astro-cid-nfvjidkh=""
      >
        <h2
          class="mt-10 mx-auto text-3xl font-extrabold text-white animate-fade animate-delay-200 animate-duration-[500ms]"
          data-astro-cid-nfvjidkh=""
        >
        Aroma Annapolis
        </h2>
        <p
          class="mt-2 max-w-md px-4 text-center text-xl text-zinc-500 animate-fade animate-delay-300 animate-duration-[500ms]"
          data-astro-cid-nfvjidkh=""
        >
          A custom eCommerce + marketing platform shaped a new day for an Annapolis based glassware company. 
        </p>
        <a
          href="/showcase/aroma/"
          class="mt-6 rounded border px-3 py-2 text-base text-white hover:bg-gray-700/25 animate-fade animate-delay-400 animate-duration-[500ms]"
        >
          View case study
        </a>
        <div class="mt-auto" data-astro-cid-nfvjidkh="">
          <Image src={aroma} alt="Aroma Annapolis" class="w-full max-w-2xl pt-6 animate-fade-up animate-delay-300 animate-duration-[800ms]" />
        </div>
      </div>
    </div>
  </section>

</BaseLayout>