---
import { Image } from 'astro:assets'
import nodejs from '../assets/brands/nodejs.svg'
import react from '../assets/brands/react.svg'
import elixir from '../assets/brands/elixir.svg'
import vue from '../assets/brands/vue.svg'
import tailwind from '../assets/brands/tailwind.svg'
import laravel from '../assets/brands/laravel.svg'
import strapi from '../assets/brands/strapi.svg'
import graphql from '../assets/brands/graphql.svg'
import nginx from '../assets/brands/nginx.svg'
import vite from '../assets/brands/vite.svg'
import shopify from '../assets/brands/shopify.svg'
import wordpress from '../assets/brands/wordpress.svg'
---



<ul id="tech"
role="list"
class="mt-12 grid list-none grid-cols-2 gap-4 lg:grid-cols-4 lg:gap-x-6 lg:gap-y-12"
>
<li>
  <div>
    <span><Image src={nodejs} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Node.js</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    Open-source, cross-platform JavaScript runtime environment.

  </div>
</li>
<li>
  <div>
    <span><Image src={elixir} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Elixir</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    A functional, concurrent, high-level general-purpose programming language.
  </div>
</li>
<li>
  <div>
    <span><Image src={react} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">React</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    Open-source front-end JavaScript library for building user interfaces based on components.
  </div>
</li>
<li>
  <div>
    <span><Image src={vue} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Vue</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    Open-source front end JavaScript library for building user interfaces and single-page applications.
  </div>
</li>
<li>
  <div>
    <span><Image src={tailwind} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Tailwind</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    A CSS framework packed with "utility" classes that can be used to style each element by mixing and matching.
  </div>
</li>
<li>
  <div>
    <span><Image src={laravel} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Laravel</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    Open-source PHP web framework following the MVC pattern and based on Symfony.
  </div>
</li>
<li>
  <div>
    <span><Image src={strapi} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Strapi</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    A headless CMS used to develop websites, mobile applications, eCommerce sites, and APIs.
  </div>
</li>
<li>
  <div>
    <span> <Image src={graphql} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">GraphQL</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    Open-source data query and manipulation language for APIs and a query runtime engine.
  </div>
</li>
<li>
  <div>
    <span> <Image src={nginx} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Nginx</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    A web server that can also be used as a reverse proxy, load balancer, mail proxy and HTTP cache.
  </div>
</li>
<li>
  <div>
    <span> <Image src={vite} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Vite</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    A build tool that aims to provide a faster and leaner development experience for modern web projects.
  </div>
</li>
<li>
  <div>
    <span> <Image src={shopify} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Shopify</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
   A complete commerce platform that lets anyone start, manage, and grow a business.
  </div>
</li>
<li>
  <div>
    <span> <Image src={wordpress} alt="" /></span>
    <p class="mt-5 font-semibold text-gray-900">Wordpress</p>
  </div>
  <div class="mt-2 text-sm text-slate-500">
    From blogging to e-commerce to business and portfolio websites, WordPress is a versatile CMS.
  </div>
</li>
</ul>

<style>
#tech li span img {
  height:30px;
  width:auto;
}
</style>